.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(100px);
  font-weight: 900;
  letter-spacing: rem(-2px);

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(50px);
  }
}

.input {
  flex-grow: 1;
  max-width: 320px;
}

.avatar {
  margin: 0 auto;
}

.goBtn:hover {
  position: relative;
  z-index: 20;
  transition: 0.25s ease-in-out;
  box-shadow: 0px 0px 8px var(--mantine-color-blue-6);
}

.alert {
  margin-top: 20px;
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}