.fancyBtn:hover:enabled {
  transition: 0.25s ease-in-out;
  box-shadow: 0px 0px 8px var(--mantine-color-blue-6);
}

.fancierBtn:hover:enabled {
  transition: 0.25s ease-in-out;
  box-shadow: 0px 0px 8px var(--mantine-color-pink-6);
}